!!! 5
%html
    %head
        %meta(charset="UTF-8")
        %title erl-ttf_parse
        %link(rel="stylesheet" href="css/style.css")
    %body
        %h1 erl-ttf_parse
        %ul
            %li
                %a(href="mini-pukupuku.html") mini-pukupuku
            %li
                %a(href="cgrtr.html") cgrtr
